@model CCARE.Models.AccountPayment

@{
    ViewBag.Title = "Company Partner: New";
    Layout = "~/Views/Shared/_LayoutEntity.cshtml";
}

@section title
{
    Company Partner
}

@section entityLogo
{
    <img class="crm-logo" src="~/assets/images/ico_lrg_112.gif" />
}

@section formTitle
{
    <div class="text_title">
        <h1>Information</h1>
        Company Partner: New
    </div>
}

@section navHeader
{
    <ul class="nav navbar-nav navbar-left">
        <li><a id="btn_save" href="#">Save</a></li>
        <li><a id="btn_savenclose" href="#">Save & Close</a></li>
        <li><a id="btn_savenopen" href="#">Save & New</a></li>
    </ul>
}

@section footerStatus
{
    <div class="footer_text">Status: New</div>
}

@section sidebarMenu
{
    <li class="active"><a href="#">Information</a></li>
}

<div class="container-fluid">
    <!-- tabs -->
    <div class="row">
        <div class="col-sm-12 panel panel-default panel_form_parent">
        <div class="myContent_noTab">
        @using (Html.BeginForm("Create", "AccountPayment", FormMethod.Post, new { id = "form_accountPayment" }))
        {
            @Html.Hidden("hidden_displayStatus", "", new { @id = "hidden_displayStatus" })
                    
            <!-- panel content -->
            <div class="col-sm-12">

                <!-- START title 1 -->
                <div class="row form_text">
                    <div class="panel panel-default panel_form_child">
                        <div class="panel-heading">
                            <label class="control-label sv-header"><strong>General</strong></label>
                        </div>
                        <br />
                        <div class="panel-body">
                            <div class="form-horizontal">
                                
                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label mandatory">Nama Perusahaan</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.NamaPerusahaan, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Jenis Pembayaran / Pembelian</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.JenisPembayaran, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Kode Perusahaan</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.KodePerusahaan, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">No Rek Perusahaan</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.NoRekPerusahaan, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Cabang Koordinator</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.CabangKoordinator, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Jenis Kerjasama</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.JenisKerjasama, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Alur Transaksi di ATM</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.AlurTransaksiATM, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">e-Banking</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.EBanking, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Sandi Perusahaan m-BCA</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.SandiPerusahaanMBCA, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Limit</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.Limit, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Denominasi Voucher</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.DenominasiVoucher, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END title 1 -->        
                <!-- START title 2 -->
                <div class="row form_text">
                    <div class="panel panel-default panel_form_child">
                        <div class="panel-heading">
                            <label class="control-label sv-header"><strong>Timestamp Information</strong></label>
                        </div>
                        <br />
                        <div class="panel-body">
                            <div class="form-horizontal">
                                
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Created By</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.CreatedByName, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Created On</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.CreatedOn, new { Value = @Model.CreatedOn, @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-6">                                        
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Modified By</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.ModifiedByName, new { @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">                                                                              
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label">Modified On</label>
                                            <div class="col-sm-8">
                                                @Html.TextBoxFor(x => x.ModifiedOn, new { Value = @Model.ModifiedOn, @class = "form-control", @disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END title 2 -->
            </div>
        }
        </div>
        </div>
    </div>

    <div id="response-modal"></div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        var entityName = '@ViewContext.RouteData.Values["Controller"].ToString()';

        function validateForm(action, formName) {
            if ($("#NamaPerusahaan").val() == "") {
                alert("@Resources.AccountPayment.MandatoryNamaPerusahaan");
                return false;
            }
            formSubmit(action, formName);
        }

        $("#btn_save").click(function () {
            validateForm("save", $("#form_accountPayment"));
        });
        
        $("#btn_savenclose").click(function () {
            validateForm("saveNClose", $("#form_accountPayment"));
        });

        $("#btn_savenopen").click(function () {
            validateForm("saveNOpen", $("#form_accountPayment"));
        });
    });
</script>
