@model CCARE.Models.BusinessUnit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutEntity.cshtml";
}

@section title
{
    Business Unit
}

@section entityLogo
{
    <img class="crm-logo" src="~/assets/images/ico_lrg_112.gif" />
}

@section formTitle
{
    <div class="text_title">
        <h1>Information</h1>
        Business Unit: New
    </div>
}

@section navHeader
{
    <ul class="nav navbar-nav navbar-left">
        <li><a id="btn_save" href="#">Save</a></li>
        <li><a id="btn_savenclose" href="#">Save & Close</a></li>
        <li><a id="btn_savenopen" href="#">Save & New</a></li>
    </ul>
}

@section footerStatus
{
    <div class="footer_text">Status: Enabled</div>
}

@section sidebarMenu
{
    <li class="active"><a href="#">Information</a></li>
}

<div class="container-fluid">
    <!-- tabs -->
    <div class="row">
        <div class="col-sm-12 panel panel-default panel_form_parent">
            <ul id="myTab2" class="nav nav-tabs crm-padding-top-10">
                <li class="active"><a href="#general" id="general-tab" data-toggle="tab">General</a></li>
                <li ><a href="#address" id="address-tab" data-toggle="tab">Addresses</a></li>
            </ul>
            <br />
             @using (Html.BeginForm("Create", "BusinessUnit", FormMethod.Post, new { id = "form_BusinessUnit_cr" }))
                {
                 
            <div class="tab-content myContent_Tab">
                <div class="tab-pane fade active in" id="general" aria-labelledby="general-tab">
               
                    @Html.Hidden("hidden_displayStatus", "", new { @id = "hidden_displayStatus" })
                    
                    <!-- panel content -->
                    <div class="col-sm-12">
               
                        <!-- START title 1 -->
                        <div class="row form_text">
                            <div class="panel panel-default panel_form_child">
                                <div class="panel-heading">
                                    <label class="control-label sv-header"><strong>General</strong></label>
                                </div>
                                <br />
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label mandatory">Name </label>
                                                    <div class="col-sm-8">
                                                       <input type="text" id="Name" name="Name" class="form-control"  required/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                                                              
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Main Phone</label>
                                                    <div class="col-sm-8">
                                                       <input type="text" id="MainPhone" name="MainPhone" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Division</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="Division" name="Division" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                                                              
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Other Phone</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="OtherPhone" name="OtherPhone" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label mandatory">Parent Business</label>
                                                    <div class="col-sm-8">
                                                        <input type="hidden" id="ParentBusinessUnitId" name="ParentBusinessUnitId" class="form-control" />
                                                        <div class="input-group">
                                                            <input type="text" id="ParentBusinessUnit" name="ParentBusinessUnit" class="form-control" value="">
                                                            <div tabindex="0" id="ParentBusinessUnitIdName-label" class="form-control typeahead-label hide">
                                                            </div>
                                                            <div tabindex="0" class="input-group-addon btn" id="ParentBusinessUnitIdName-popup">
                                                                <i class="fa fa-search"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                                                              
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Fax</label>
                                                    <div class="col-sm-8">
                                                       <input type="text" id="Fax" name="Fax" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Web Site</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" id="WebSite" name="WebSite" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                                                              
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">E-mail</label>
                                                    <div class="col-sm-8">
                                                       <input type="text" id="eMail" name="eMail" class="form-control" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                </div>                               
                            </div>
                        </div>                    
                        <!-- END title 1 -->
                        <!-- START title 2 -->
                        <div class="row form_text">
                            <div class="panel panel-default panel_form_child">
                                <div class="panel-heading">
                                    <label class="control-label sv-header"><strong>Timestamp Information</strong></label>
                                </div>
                                <br />
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Created By</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.CreatedBy, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Created On</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.CreatedOn, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">                                        
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Modified By</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.ModifiedBy, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">                                                                              
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label">Modified On</label>
                                                    <div class="col-sm-8">
                                                        @Html.TextBoxFor(x => x.ModifiedOn, new { @class = "form-control", @disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END title 2 -->
                    </div>
                </div>
                
                <div class="tab-pane fade" id="address" aria-labelledby="address-tab">
                    <div class="col-sm-12">
                        <div class="row form_text">
                            <div class="panel panel-default panel_form_child">
                                <div class="panel-heading">
                                    <label class="control-label sv-header"><strong>Bill to Address</strong></label>
                                </div>
                                <br />
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 1</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_Street1" name="Bill_Street1" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">State/Province</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_StateOrProvince" name="Bill_StateOrProvince" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 2</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_Street2" name="Bill_Street2" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">ZIP/Postal Code</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_PostalCode" name="Bill_PostalCode" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 3</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_Street3" name="Bill_Street3" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Country/Region</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_Country" name="Bill_Country" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">City</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Bill_City" name="Bill_City" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12">
                        <div class="row form_text">
                            <div class="panel panel-default panel_form_child">
                                <div class="panel-heading">
                                    <label class="control-label sv-header"><strong>Ship to Address</strong></label>
                                </div>
                                <br />
                                <div class="panel-body crm-padding-top-10">
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 1</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_Street1" name="Ship_Street1" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">State/Province</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_StateOrProvince" name="Ship_StateOrProvince" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 2</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_Street2" name="Ship_Street2" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">ZIP/Postal Code</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_PostalCode" name="Ship_PostalCode" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Street 3</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_Street3" name="Ship_Street3" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">                                                                              
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">Country/Region</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_Country" name="Ship_Country" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">                                        
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">City</label>
                                                <div class="col-sm-8">
                                                    <input type="text" id="Ship_City" name="Ship_City" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>        
    </div>    
</div>
<div class="row form_text">
        
</div>
<div id="response-modal"></div>

<script type="text/javascript">
    $(document).ready(function () {
        var entityName = '@ViewContext.RouteData.Values["Controller"].ToString()';

        function validateForm(action, formName) {
            if ($("#Name").val() == "") {
                alert("@Resources.BusinessUnit.BUMandatoryName");
                return false;
            }
            else if ($("#ParentBusinessUnit").val() == "") {
                alert("@Resources.BusinessUnit.BUMandatoryParent");
                return false;
            }
            formSubmit(action, formName);
        }

        $("#btn_save").click(function () {
            validateForm("save", $("#form_BusinessUnit_cr"));
        });

        $("#btn_savenclose").click(function () {
            validateForm("saveNClose", $("#form_BusinessUnit_cr"));
        });

        $("#btn_savenopen").click(function () {
            validateForm("saveNOpen", $("#form_BusinessUnit_cr"));
        });

        //popup
        $('#ParentBusinessUnitIdName-popup').on('click', function (e) {
            urlModalPopup = '@Url.Action("_popupContent", "Popup", new { type = "parentbusinessunit", _entity = ""  })';
            colModelsName = [
                { label: 'ID', name: 'Id', index: 'Id', key: true, width: 75, hidden: true },
                { label: 'Name', name: 'Name', width: 500 },
                { label: 'IsDisabled', name: 'isDisabled', width: 300, align:'center' }

            ];
            var id = $(this).parent().find('input:last').attr('id');
            $('#' + id).trigger("blur");
            e.preventDefault();
        });

        var productReq = new PopupClass();
        productReq.setId("ParentBusinessUnit");
        productReq.setUrl('@Url.Action("ParentBusinessUnit", "Popup")');
        productReq.setHiddenId("ParentBusinessUnitId");
        productReq.init();

        @*if ("@Model.ParentBusinessUnitId".length > 0) {
            popupCheckFirst("ParentBusinessUnit", "@Model.ParentBusinessUnitId", "@Html.Raw(Model.ParentBusinessUnit)");
        }*@
    });
</script>
